* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blanco: #ffffff;
  --negro: #000000;
  --dorado: #c7a85a;
}

body {
  font-family: Aptos, display;
  background: var(--blanco);
  color: var(--negro);
  line-height: 1.6;
}

/* NAV */
nav {
  background: var(--negro);
  color: var(--blanco);
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  position: sticky;
  top: 0;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: var(--blanco);
  text-decoration: none;
}

/* HERO */
.hero {
  background: var(--dorado);
  color: var(--blanco);
  text-align: center;
  padding: 80px 20px;
}

.boton {
  display: inline-block;
  margin-top: 20px;
  background: var(--negro);
  color: var(--blanco);
  padding: 10px 25px;
  text-decoration: none;
}

/* SECCIONES */
section {
  padding: 60px 40px;
  text-align: center;
}

.oscuro {
  background: var(--negro);
  color: var(--blanco);
}

/* CARDS */
.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  border: 1px solid var(--negro);
  padding: 20px;
  max-width: 250px;
}

/* LISTA */
ul {
  list-style: none;
}

li {
  margin: 10px 0;
}

/* FOOTER */
footer {
  background: var(--negro);
  color: var(--blanco);
  text-align: center;
  padding: 15px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }
}
